* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}
.logoContainer {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    height: 150px;
}
.logoContainer img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 20px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 20px hsla(133, 64%, 52%, 0.1);
    background-color: #ffad84;
    z-index: 1000;
    height: 100px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header ul {
    display: flex;
    color: teal;
}

.menu a {
    display: block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    color: white;
}

.menu:hover a {
    opacity: 0.4;
}

.menu a:hover {
    opacity: 1;
    color: #fff;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
    .header .menu {
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 15;
        transform: scale(1, 0);
        background-color: #ffad84;

        transform-origin: top;
        transition: transform 0.3s ease-in-out;
    }

    .menu a {
        margin-left: 12px;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }
}

/* translate */
.goog-te-gadget {
    border-radius: 5px; /* Border radius */
    padding: 5px; /* Padding */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow */
    width: 200px;
    overflow: hidden;
    height: 53px;
    margin-right: 10px;
}

/* Language Dropdown */
.goog-te-combo {
    height: 100%;
    width: 100%;
    font-size: 15px !important;
    font-weight: bold;
    background-color: rgb(48, 143, 226);
    border-radius: 5px;
    padding: 10px;
    color: white;
}

/* Language Dropdown Options */
.goog-te-combo-menu {
    background-color: #391616; /* Background color */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Border radius */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow */
}

/* Language Dropdown Selected Option */
.goog-te-combo-label {
    color: #333; /* Text color */
}

/* Hover and Active State for Language Dropdown Options */
.goog-te-menu-value:hover,
.goog-te-menu-value-active {
    background-color: #e0e0e0; /* Hover/Active background color */
}
